header{
    text-align: center;
    background-color: rgba(88, 181, 150, 0.99);
    padding: 10px;
} 

main{
    margin: 20px;
} 

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
} 

.new-card{
    border-style: double;
    margin: 20px;
} 

.card-header{
    background-color: rgb(15, 255, 175);
    text-align: center;
}

.user-info{
    padding-right: 10px;
    text-align: left;
}

ul{
    list-style: none;
} 








